<!-- /patients/new -->
<h1>New Patient</h1>

<form action='/patients' method='POST'>
  <p>
  hp_id<br>
  <input type='text' name='hp_id' value="">
  </p>

  <p>
  <input type='submit' value="Save Patient">
  </p>
</form>
  
